.carousel .item {
    height: 80vh;
  }
  
  .item img {
      position: relative;
      top: 0;
      left: 0;
      min-height: 30vh;
        padding: 20px;
        min-width: 10vw;
        margin-bottom: auto;
  }
  @media screen and (max-width: 768px) {
    .carousel .item {
        height: 80vh;
      }
      
      .item img {
          position: relative;
          /* top: 0; */
          /* left: 0; */
            max-width: 90vw;
            min-width: 20vw;
            /* margin-bottom: auto; */
      }
}