
@media screen and (max-width: 768px) {
  .formItem{
    margin: 1vh;
    border: rgb(var(--background-start-rgb)) solid 2px;
    padding: 10px;
  }
}
.formItem{
  margin: 1vh;
  border: rgb(var(--background-start-rgb)) solid 2px;
  padding: 5px;
  width: 100%;
  transition: ease 0.8s;
}

@media (prefers-color-scheme: dark) {
  .formItem:hover{
    background-color: rgb(143, 143, 143);
  }
  .formItem{
    background-color: rgb(178, 178, 178);
    color: rgb(0, 0, 0);
  }
  .formItem::placeholder{
    color: #434343;
  }
}
.form{
  width: 50%;
}
.formItem:hover{
  background-color: rgb(220, 220, 220);
}