:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 250, 250, 250;
}

@media screen and (max-width: 768px) {
  .formItem{
    margin: 1vh;
    border: rgb(var(--background-start-rgb)) solid 2px;
    padding: 10px;
  }
}
.formItem{
  margin: 1vh;
  border: rgb(var(--background-start-rgb)) solid 2px;
  padding: 5px;
  width: 100%;
}
.form{
  width: 50%;
}
.formItem:hover{
  background-color: rgb(var(--background-end-rgb));
}